<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="76774211-cd52-43a9-ad3a-a01b412e7b8f" Version="1.0.0.0" Publisher="CN=bob_000" />
  <Properties>
    <DisplayName>ABV Calculator</DisplayName>
    <PublisherDisplayName>Bob Zurad</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ABV Calculator" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="A simple calculator used to find the Alcohol by Volume (ABV), given the Original Gravity and Final Gravity. Temperatures taken at the time of OG and FG readings can also be included for a more accurate calculation." ForegroundText="light" BackgroundColor="#A98436">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>